<configuration>
    <!-- Log into app.log file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log.log</file>
        <append>true</append> <!-- Do not delete logs from last executions -->

        <encoder>
            <pattern>%date{yyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- Log into standard output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>